on:
  push:
    branches:
      - main
      - master

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: install dependencies
        run: npm ci
      - run: npm test
      - name: collect coverage from client
        uses: ArtiomTR/jest-coverage-report-action@v2
        with:
          working-directory: client

